*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    user-select: none;

}
body{
    height: 100vh;
    overflow: hidden;
    background-color: rgb(121, 189, 189);
    display: flex;
    align-items: center
    ;
    justify-content: center;

}
.allcontent
{
    width: 1000px;
    max-width: 98%;

    margin: auto;
    overflow: hidden;
    position: relative;


}

span{    position: absolute;
    background-color:black;
    color: white;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40%;
    right: 10px;
    height: 50px;
    font-size: 40px;
    cursor: pointer;



}
.past{
left: 10px;
background-color: rgb(107, 55, 55);

}
img{
    width: 100%;
    display: none;

}
.next{
    right: 10px;
    background-color: red;
}
.active{
    display: block;
}
.circles{
    /* height: 20px; */
    width: 100%;
    background-color: aquamarine;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;



}
.circles div{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(95, 76, 76);
    margin: 0 5px;
    cursor: pointer;

}
.activee{
    background-color: rgb(212, 54, 54) !important;
}